.bannerBgImage {
    height: 100vh;
    background: url("https://lsuonline-static.s3.amazonaws.com/media/images/2021/02/05/OCE_2020_Web_Header_SQLAnalytics_s1451794160.jpg");
    background-size: cover;
    position: relative;
}

.bannerText {
    text-align: right;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.bannerTitle {
    font-size: 4rem;
}

.bannerDesc {
    font-size: 2rem;
}

.card {
    cursor: pointer;
}

.card:hover {
    background-color: rgb(247, 227, 234);
    border: 2px solid rgb(228, 232, 219);
}

.bIcon {
    width: 100%;
    text-align: center;
    font-size: 40px;
}

.img-fluid:hover {
    border: 2px solid rgb(189, 213, 140);
}

.card-img-top {
    height: 50vh;
}

#button {
    background-color: blue;
    color: aliceblue;
    border-radius: 5px;
}

.about {
    background-color: blueviolet;
}

.footer {
    background-color: rgb(46, 40, 40);
    height: 40px;
    color: aliceblue;
    text-align: left;
}

#icons {
    position: relative;
    align-items: flex-end;
    size: 50px;
}

* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

form {
    margin-right: 90px;
}


/* Mobile View Styles */

@media (max-width: 767px) {
    .navbar-nav {
        text-align: center;
    }
    .navbar-nav li {
        display: inline-block;
        margin: 0 10px;
    }
    .bannerText {
        text-align: center;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .card-img-top {
        height: 300px;
    }
    .card {
        cursor: pointer;
    }
    .card:hover {
        background-color: transparent;
        border: none;
    }
    .img-fluid:hover {
        border: none;
    }
    .col-md-4,
    .col-md-6 {
        margin-bottom: 30px;
    }
    .footer {
        text-align: center;
    }
    #icons {
        text-align: center;
    }
    form {
        margin-left: 0;
    }
    * {
        font-size: 18px;
    }
}


/* Tablet View Styles */

@media (min-width: 768px) and (max-width: 991px) {
    .card-img-top {
        height: 400px;
    }
}


/* Desktop View Styles */

@media (min-width: 992px) {
    .card-img-top {
        height: 50vh;
    }
}